{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container" style="margin-top: 40px">
    {% if messages %}
      <div class="messages">
      {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"{% endif %}>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
        </div>
      {% endfor %}
      </div>
    {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            {% crispy forms %}
        </form>
    </div>
{% endblock %}